<% if current_user == @event.creator %>
  <h3>Send Invitation</h3>
  <%= form_for @invitation do |f| %>
    <%= hidden_field_tag("invitation[attended_event_id]", "#{@event.id}") %>
    <%= f.collection_select(:attendee_id, @not_invited, :id, :attendee_id) %>




    <%= f.submit "Invite", class: "btn" %>
  <% end %>
<% end %>


<!-- <%= form_for @invitation do |f| %>
<% users_array = Invitation.all.where(attended_event_id: @event.id).where(response: nil).map { |inv| [inv.attendee.name] } %>
<%= options_for_select(users_array) %>
<% end %> -->


<% unless current_user == @event.creator %>
  <%= form_for @invitation, url: invitation_path(@invitation), method: :patch do |f| %>
    <% if @event.attendees.include?(current_user) %>
      <% if @invitation.response.nil? %>
        <%= f.label :response, "reply to invitation" %>
      <% else %>
        <%= f.label :response, "change response" %>
      <% end %>

      <%= hidden_field_tag("invitation[attendee_id]", "#{current_user.id}") %>
      <%= hidden_field_tag("invitation[attended_event_id]", "#{@event.id}") %>
      <%= hidden_field_tag("invitation[id]", "#{@invitation.id}") %>
      <%= f.select :response, ['yes', 'no', 'maybe'] %>
      <%= f.submit "Reply" %>
    <% end %>
  <% end %>
<% end %>
