<% if creator? %>
  <h3>Send Invitation</h3>
  <%= form_for @new_invitation do |f| %>
    <%= hidden_field_tag("invitation[attended_event_id]", "#{@event.id}") %>
    <%= hidden_field_tag("invitation[response]", "invited") %>
    <%= f.collection_select(:attendee_id,
                            User.all,
                            :id, :name) %>


    <%= f.submit "Invite", class: "btn" %>
  <% end %>
<% end %>


<% if invited? %>
  <%= form_for @invitation, url: invitation_path(@invitation), method: :put do |f| %>

    <%= f.hidden_field :attended_event_id, :value => "#{@event.id}" %>
    <%= f.hidden_field :attendee_id, :value => "#{current_user.id}" %>

    <% if @invitation.response.nil? %>
      <%= f.label :response, "reply to invitation" %>
    <% else %>
      <%= f.label :response, "change response" %>
    <% end %>

    <%= f.select :response, ['yes', 'no', 'maybe'] %>

    <%= f.submit "Reply" %>

  <% end %>
<% end %>
