

  <div class="col-lg-6">
    <h1>Upcoming Events</h1>
    <%= will_paginate @future_events %>

      <% @future_events.each do |event| %>

        <h3><%= link_to "#{event.title}", event_path(event) %></h3>

        <small>
          <ul>
            <li>
              <%= event.location %>
            </li>
            <li>
              <%= event.date.to_date.to_formatted_s :long_ordinal %>,
              <%= event.date.strftime("%I:%M %p") %>
            </li>
          </ul>
        </small>

        <p><%= event.description %></p>

        <hr>
      <% end %>
</div>



  <div class="col-lg-6">

      <h1>Past Events</h1>

        <div class="row pagination">
          <span>
            <%= link_to "see more past events", past_path %>
          </span>
        </div>

        <% @past_events.each do |event| %>
          <h3><%= link_to "#{event.title}", event_path(event) %></h3>

          <small>
            <ul>
              <li>
                <%= event.location %>
              </li>
              <li>
                <%= event.date.to_date.to_formatted_s :long_ordinal %>,
                <%= event.date.strftime("%I:%M %p") %>
              </li>
            </ul>
          </small>

          <p><%= event.description %></p>
        <hr>
      <% end %>

 </div>
</div>
