<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2">

    <h1><%= @event.title %></h1>
    <p>created by: <%= @event.creator.name %></p>

    <p>Date: <%= @event.date.to_date.to_formatted_s :long_ordinal %></p>

    <p>Location: <%= @event.location %></p>

    <h3>Description</h3>
      <p><%= @event.description %></p>

    <% if current_user == @event.creator %>
      <h3>Send Invitation</h3>
      <%= form_for @invitation do |f| %>
        <%= hidden_field_tag("invitation[attended_event_id]", "#{@event.id}") %>
        <%= f.collection_select(:attendee_id, User.all, :id, :name) %>

        <%= f.submit "Invite", class: "btn" %>
      <% end %>
    <% end %>

    <div id="map"></div>

  </div>



  <div class="col-lg-2 col-md-2">

    <% if @event.attendees.any? %>
      <h3>Attendees</h3>
        <ul>
          <% @event.attendees.each do |attendee| %>
            <li>
              <%= link_to "#{attendee.name}", user_path(attendee) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
