<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2">

    <h1><%= @event.title %></h1>
      <p>created by: <%= @event.creator.name %></p>

    <p>Date: <%= @event.date.to_date.to_formatted_s :long_ordinal %></p>

    <p>Location: <%= @event.location %></p>

    <%= render 'invitations' %>

    <h3>Description</h3>
      <p><%= @event.description %></p>

    <%= render 'attendees' %>
    <!-- <%= render 'map' %> -->
  </div>
